<%- include('partials/header') %>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">REMINDER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <form method="POST" action="/notePage">  
              <input type="hidden" name="username" value=<%= user %> >  
                <button class="nav-link">Note <span class="sr-only">(current)</span></a>
              </form>
          </ul>
          <ul class="navbar-nav mr-auto">
            <a href="/">Logout</a>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= user %> ></button>
          </form>
        </div>
      </nav>
</div>

<div class="">
    <form action="/reminder" class="create-note" method="POST">
      <input type="hidden" name="username" value=<%= user %> >
      <input type="text" placeholder="Title" name="reminderTitle" class="">
      <input type="datetime-local" placeholder="Time" name="reminderTime" id="inputTime" class=""></input>
      <button type="submit" class="note fas fa-plus"></button>
    </form>

</div>

<% reminders.forEach(function(reminder) { %>
  <form action="/deleteReminder" method="POST">
    <div class="note">
      <h1><%= reminder.r_title %></h1>
      <p><%= reminder.r_time %></p>
      <input type="hidden" name="reminderId" value="<%= reminder._id %>">
      <input type="hidden" name="username" value="<%=user%>">
      <button type="submit" class="fa fa-trash" ></button>
    </div>
  </form>
<% }) %>





<%- include('partials/footer') %>
